body {
    background-image: url("https://s3.amazonaws.com/orion-eat-app-files/orioneat-prod/Bax3MCyXppZJ6YaSF-1920x1080%20pxls.jpg");
    text-align: center;
    margin: auto auto;
}

.divClass h1 {
    color: rgb(92, 172, 202);
    font-style: oblique;
    text-shadow: aqua;
    
}
.divClass h3,h4 {
    color:white;
}

img {
    width: 400px;
    
    
}

#thirdDiv {
    text-align:center;
    margin: auto auto;
    width: 500px;
    height: 600px;
    background-color: rgba(173, 164, 146, 0.232);
    padding: 50px;
    border-color: rgb(254, 123, 0);
    border-style: double;
}

#spanId {
    color:white;
    font-size: 18px;
    margin: 50px;
}